body{
    background-color: tan;
    color: black;
    position: relative;
    z-index: 1;
}
/* Sets the background and text color */

/* Box Layout for the Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: green;
    display: flex;
    justify-content: center;
}
/* Styles for the links in the Navigation Bar */
ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Hover effect for the links in the Navigation Bar */
ul li a:hover {
    background-color: darkgreen;
    color: white;
}

/* Centers the main heading and aligns subheadings to the left */
#main-heading {
    text-align: center;
    color: black;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style for Paragraphs */
p {
    text-align: left;
    color: black;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
}

h1.About {
    text-align: center;
}

#browser-wars-heading {
    text-align: center;
    color: black;
    font-size: 40px;
}

div.abstract, p1 {
    text-align: left;
    color: black;
    font-size: 25px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 50px;
    
}

#subsection {
    text-align: center;
    color: black;
    font-size: 30px;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 50px;
    padding-bottom: 0px;
    list-style-position: outside;
}

#concepts-txt {
    text-align: center;
    color: black;
    font-size: 25px;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
    padding-bottom: 50px;
}

ol.concepts-list {
    text-align: left;
    color: black;
    font-size: 20px;
    margin-left: px;
    margin-right: 80px;
    padding: 20px;
    list-style-position: outside;
}


/*Style for About section Bullets*/
ol{
    list-style-type: disc;
    margin-left: 600px;
    padding: 0;
    color: black;
    text-align: left;
    list-style-position: inside;
}
/* Style for Tables */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* Style for Table Headers */
div.keyterms {
    background-color: rgb(75, 146, 75);
    border: 2px solid black;
    padding: 0px;
    margin:11px;
}

div.concepts-list {
    background-color: rgb(75, 146, 75);
    border: 2px solid black;
    padding: 20px;
    margin:11px;
}

/* Style for Images */
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.logos {
    text-align: center;
    margin-left: 20px;
}

/*Link Hover Effect*/
a:hover {
    color: rgb(13, 151, 13) 
}

/* Style for Quiz Section */
div.quiz-container {
    width: 1000px; 
    margin: 0 auto;
    background-color: rgb(111, 133, 119);
    border: 2px solid black;
    padding: 50px;
    
    
    
}
/*All style for quiz elements*/
/* Style for Quiz Questions */

.quiz h2 {
    text-align: center;
    margin-left: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}
/* Style for Quiz Options */
.answer-btn {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    background-color: lightgray;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;

}
.answer-btn:hover:not([disabled]) {
    background-color: gray;
    color: white;
}

/*Style for next button*/
#next-btn {
    display: none;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    
}   
#next-btn:hover {
    background-color: darkgreen;
}

.correct{
    background-color: lightgreen;
}
.incorrect{
    background-color: lightcoral;
}   
/* Style for Fill-in-the-Blank Input */
.fill-in-blank-input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    font-size: 16px;
}

/* Style for Multi-Answer Checkboxes */
.answer-checkbox {
    display: inline;
}

.answer-label {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    background-color: lightgray;
    border: 1px solid black;
    cursor: pointer;
    text-align: left;
}

.answer-label.correct {
    background-color: #28a745 !important;
    color: #fff !important;
    border-color: #218838 !important;
}

.answer-label.incorrect {
    background-color: #dc3545 !important;
    color: #fff !important;
    border-color: #c82333 !important;
}

/* Style for Mobile Resolutions */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    ul li a {
        padding: 10px 12px;
        font-size: 14px;
    }
    #main-heading {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p {
        font-size: 16px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
    }
    table, th, td {
        font-size: 12px;
    }
    .quiz-container {
        width: 90%;
        padding: 20px;
    }
}

 /* Style for Desktop Resolutions */
@media screen and (min-width: 601px) {
    body {
        font-size: 18px;
    }
    ul li a {
        padding: 14px 16px;
        font-size: 16px;
    }
    #main-heading {
        font-size: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
        margin-left: 80px;
        margin-right: 80px;
        padding: 20px;
    }
    table, th, td {
        font-size: 16px;
    }
    .quiz-container {
        width: 1000px;
        padding: 50px;
    }
}