body{
    background-color: tan;
    color: black;
}
/* Sets the background and text color */

/* Box Layout for the Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: green;
    display: flex;
    justify-content: center;
}
/* Styles for the links in the Navigation Bar */
ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Hover effect for the links in the Navigation Bar */
ul li a:hover {
    background-color: darkgreen;
    color: white;
}

/* Centers the main heading and aligns subheadings to the left */
#main-heading {
    text-align: center;
    color: black;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style for Paragraphs */
p {
    text-align: left;
    color: black;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
}

h1.About {
    text-align: center;
}

div.abstract, p1 {
    text-align: left;
    color: black;
    font-size: 25px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 50px;
}


/*Style for About section Bullets*/
ol{
    list-style-type: disc;
    margin-left: 20px;
    padding: 0;
    color: black;
    text-align: center;
    list-style-position: inside;
}
/* Style for Tables */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* Style for Table Headers */
div.keyterms {
    background-color: rgb(75, 146, 75);
    border: 2px solid black;
    padding: 0px;
    margin:11px;
}

/* Style for Images */
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.logos {
    text-align: center;
    margin-left: 20px;
}

/*Link Hover Effect*/
a:hover {
    color: rgb(13, 151, 13) 
}
